#login-page{
  #login-register {
    .three.column.centered.row {
      margin-top: 12rem;
      .header,.field label{
        color: black;
      }
      .login-button{
        text-align: right;
      }
    }
  }
}
